baseurl = "http://url.com/"
languageCode = "en-us"
title = "A witty title"

ignoreFiles = ["\\.scss"]

pygmentsCodeFencesGuessSyntax = false
pygmentsStyle =              "fruity"
pygmentsUseClasses =         true
PygmentsCodeFences = true

[Params]
  Author = "Author name"
  AutogenCardImage = true
  TypeKitID = ""
  twitter = "twitterhandle"
  analytics = "analytics"

[taxonomies]
tag = "tags"
