{{ define "main" }}
{{ range .Data.Pages }}

{{ if not ( eq .Section "meta" ) }}
  <article>
    <header class="header-levelh1">
      <a href="{{.RelPermalink}}" 
         title="{{ .Title }}">
        {{- .Title -}}
      </a>
    </header>
    {{ with .Params.summary | default .Summary | plainify }}
      <p>{{ . }}</p>
    {{ end }}
    <p class="read-more">
      <a href="{{.RelPermalink}}" role="link" title="Read more {{ .Title }}" class="read-more">Read more</a>
      <span class="read-count">
        <small>
          {{ .WordCount }} words / {{ .ReadingTime }} minute{{ if gt .ReadingTime 1}}s{{ end }}
        </small>
      </span>
    </p>
  </article>
<hr />
{{ end }}
{{ end }}
{{ end }}
