@charset "UTF-8";
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }
.typl8-tera, .typl8-giga, .typl8-mega, .typl8-alpha, .typl8-beta, .typl8-gamma, .typl8-delta, h1, .typl8-epsilon, h2, .typl8-zeta, h3, h4, h5, h6, article header.header-levelh1 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 112.5%/1.65 "merriweather", serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-tera {
  font-size: 6.5em;
  margin-bottom: 3.93939rem; }

.typl8-giga {
  font-size: 5em;
  margin-bottom: 3.0303rem; }

.typl8-mega {
  font-size: 4em;
  margin-bottom: 2.42424rem; }

.typl8-alpha {
  font-size: 3.33333em;
  margin-bottom: 2.0202rem; }

.typl8-beta {
  font-size: 2.66667em;
  margin-bottom: 1.61616rem; }

.typl8-gamma {
  font-size: 2em;
  margin-bottom: 1.21212rem; }

.typl8-delta, h1 {
  font-size: 1.33333em;
  margin-bottom: 0.80808rem; }

.typl8-epsilon, h2 {
  font-size: 1.16667em;
  margin-bottom: 0.70707rem; }

.typl8-zeta, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.60606rem; }

p {
  margin: auto auto 1.5rem; }
  p + p {
    text-indent: 1.5rem;
    margin-top: -1.5rem; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0; }
.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.typl8-lining dd + dd:before {
  content: ", "; }
.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before, .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
article > *, article > blockquote p, pre code, #disqus_thread, figure.fullimage figcaption, .banner header {
  margin-left: 20%;
  margin-right: 20%; }
  @media screen and (max-width: 768px) {
    article > *, article > blockquote p, pre code, #disqus_thread, figure.fullimage figcaption, .banner header {
      margin-left: 5%;
      margin-right: 5%; } }

article > blockquote, pre, .post-meta, figure.quote, figure.fullimage, .gallery, .banner, svg.fullwidth {
  background-color: #f1edea;
  margin: 0;
  margin-bottom: 1em;
  padding: 36px 0 36px 0; }
  article > blockquote p:last-child, pre p:last-child, .post-meta p:last-child, figure.quote p:last-child, figure.fullimage p:last-child, .gallery p:last-child, .banner p:last-child, svg.fullwidth p:last-child {
    margin-bottom: 0; }

section.main-nav nav ul li a {
  transition: border-color .5s ease-in-out;
  border-bottom: 1px solid transparent; }
  section.main-nav nav ul li a:hover {
    border-bottom-color: #444; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #aaaaaa;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
.highlight .k {
  color: #0000aa; }

/* Keyword */
.highlight .cm {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #4c8317; }

/* Comment.Preproc */
.highlight .c1 {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #0000aa;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #aa0000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00aa00; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  color: #0000aa; }

/* Keyword.Constant */
.highlight .kd {
  color: #0000aa; }

/* Keyword.Declaration */
.highlight .kn {
  color: #0000aa; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0000aa; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #0000aa; }

/* Keyword.Reserved */
.highlight .kt {
  color: #00aaaa; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #aa5500; }

/* Literal.String */
.highlight .na {
  color: #1e90ff; }

/* Name.Attribute */
.highlight .nb {
  color: #00aaaa; }

/* Name.Builtin */
.highlight .nc {
  color: #00aa00;
  text-decoration: underline; }

/* Name.Class */
.highlight .no {
  color: #aa0000; }

/* Name.Constant */
.highlight .nd {
  color: #888888; }

/* Name.Decorator */
.highlight .ni {
  color: #800000;
  font-weight: bold; }

/* Name.Entity */
.highlight .nf {
  color: #00aa00; }

/* Name.Function */
.highlight .nn {
  color: #00aaaa;
  text-decoration: underline; }

/* Name.Namespace */
.highlight .nt {
  color: #1e90ff;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #aa0000; }

/* Name.Variable */
.highlight .ow {
  color: #0000aa; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #aa5500; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #aa5500; }

/* Literal.String.Char */
.highlight .sd {
  color: #aa5500; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #aa5500; }

/* Literal.String.Double */
.highlight .se {
  color: #aa5500; }

/* Literal.String.Escape */
.highlight .sh {
  color: #aa5500; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #aa5500; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #aa5500; }

/* Literal.String.Other */
.highlight .sr {
  color: #009999; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #aa5500; }

/* Literal.String.Single */
.highlight .ss {
  color: #0000aa; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #00aaaa; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #aa0000; }

/* Name.Variable.Class */
.highlight .vg {
  color: #aa0000; }

/* Name.Variable.Global */
.highlight .vi {
  color: #aa0000; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
a[href^="http"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/link-intact-sm.svg") no-repeat center left;
  mask: url("../img/icons/link-intact-sm.svg") no-repeat center left; }

a[href^="https://m.facebook"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-facebook-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-facebook-sm.svg") no-repeat center left; }

a[href^="https://facebook"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-facebook-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-facebook-sm.svg") no-repeat center left; }

a[href^="https://plus.google"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-google-plus-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-google-plus-sm.svg") no-repeat center left; }

a[href^="https://twitter"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-twitter-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-twitter-sm.svg") no-repeat center left; }

a[href^="https://github"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-github-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-github-sm.svg") no-repeat center left; }

a[href^="https://instagram"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-instagram-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-instagram-sm.svg") no-repeat center left; }

a[href^="https://youtu"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-youtube-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-youtube-sm.svg") no-repeat center left; }

a[href^="https://www.youtu"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-youtube-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-youtube-sm.svg") no-repeat center left; }

a[href^="https://vimeo"]:before {
  display: inline-block;
  height: 18px;
  width: 18px;
  content: "";
  background-color: #a3020e;
  -webkit-mask: url("../img/icons/social-vimeo-sm.svg") no-repeat center left;
  mask: url("../img/icons/social-vimeo-sm.svg") no-repeat center left; }

main {
  min-height: 100vh; }

a {
  color: #a3020e; }

section.main-nav {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #ebedef; }
  @media screen and (max-width: 768px) {
    section.main-nav {
      padding-left: 5%;
      padding-right: 5%; } }
  section.main-nav figure.logo {
    margin-left: 0; }
    section.main-nav figure.logo img {
      height: 5em; }
    section.main-nav figure.logo a:before {
      display: none; }
  section.main-nav nav {
    flex-grow: 2; }
    section.main-nav nav ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none; }
      section.main-nav nav ul li {
        margin-left: 4vw; }
        section.main-nav nav ul li a {
          color: #444;
          text-decoration: none; }

article header.header-levelh1 {
  font-size: 2em;
  margin-bottom: 1.21212rem;
  margin-top: 1em; }
  article header.header-levelh1 a {
    text-decoration: none;
    color: #222; }
  article header.header-levelh1 small {
    display: block;
    font-size: 30%;
    margin-top: 1em; }
article h1 {
  clear: left; }
article h2 {
  clear: left; }
article h3 {
  clear: left; }
article h4 {
  clear: left; }
article h5 {
  clear: left; }
article h6 {
  clear: left; }
article p {
  margin-bottom: 2em; }
article:last-of-type {
  margin-bottom: 2em; }

pre {
  background-color: #ececec;
  overflow-x: auto; }
  pre code {
    display: block; }
    pre code p {
      margin-left: 0; }

blockquote pre {
  border: 1px solid #dcdcdc; }
  blockquote pre code {
    margin-left: 2em;
    margin-right: 2em; }

li > p {
  margin-left: 0;
  margin-right: 0; }

hr {
  height: 0.5em;
  border: none;
  background-color: #f1edea; }
  hr:last-child {
    display: none; }

p code, li code {
  padding: 0.1em 0.5em;
  background-color: #f1edea; }

article > section {
  margin-bottom: 2em; }

pre, code {
  font-family: "Fira Code", monospace; }

p + ul, p + ol {
  margin-top: -1em; }

div.highlight {
  margin: 0; }

footer {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #ebedef; }
  @media screen and (max-width: 768px) {
    footer {
      padding-left: 5%;
      padding-right: 5%; } }
  footer p {
    margin-top: 1em;
    margin-bottom: 1em; }

.post-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em; }
  .post-post > p {
    margin: 0; }
  .post-post span.read-count {
    display: block; }

.post-meta {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .post-meta {
      padding-left: 5%;
      padding-right: 5%; } }
  .post-meta li ul, .post-meta li ol {
    margin-left: 0; }

.tags {
  font-size: 55%;
  text-align: right;
  line-height: 3em; }
  .tags a {
    background: #a3020e;
    color: #f1edea;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    opacity: 0.5;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid white;
    word-break: keep-all;
    white-space: nowrap;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
    .tags a:hover {
      background: white;
      color: #a3020e;
      border: 1px solid #a3020e; }

.meta {
  min-width: 25%; }
  .meta p {
    text-indent: 0; }
    .meta p.meta-data {
      padding-left: 18px;
      text-align: left; }

.word-count {
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

figure figcaption {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }
  figure figcaption cite {
    font-style: normal; }

figure.quote {
  display: flex;
  flex-direction: row; }
  figure.quote blockquote {
    margin: 0 0 0 20%; }
    figure.quote blockquote p {
      margin-left: 0; }
  figure.quote figcaption {
    min-width: 20%;
    margin: 0 0 0 2vw;
    padding-top: 0; }
    figure.quote figcaption cite {
      margin: 0;
      text-align: left; }

figure.fullimage {
  padding-top: 0;
  padding-bottom: 0; }
  figure.fullimage img {
    width: 100vw;
    display: block; }

figure.image {
  background-color: #f1edea;
  margin-bottom: 2em; }
  figure.image img {
    display: block;
    width: 100%; }
  figure.image figcaption {
    padding: 1em; }

figure.inlineimage {
  background-color: #f1edea;
  margin: 2em;
  width: auto;
  float: left; }
  figure.inlineimage img {
    display: inline;
    width: auto;
    max-width: 30vw; }
  figure.inlineimage figcaption {
    padding: 1em;
    max-width: 30vw;
    padding: 0; }

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0; }
  @media screen and (max-width: 768px) {
    .gallery {
      flex-direction: column;
      align-items: center; } }
  .gallery .image {
    margin: 1em; }
    .gallery .image .wrapper {
      position: relative;
      padding: 0;
      overflow: hidden;
      margin-bottom: 0;
      height: 25vw;
      width: 30vw; }
      .gallery .image .wrapper img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 30vw;
        min-height: 30vw; }
    .gallery .image figcaption {
      width: 25vw; }

.banner {
  position: relative;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
  height: 40vw; }
  .banner img {
    width: 100vw;
    min-height: 40vw;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .banner header {
    position: absolute;
    bottom: 0;
    margin-bottom: 0; }
    .banner header span {
      line-height: 1.2em;
      background-color: #f1edea;
      opacity: 0.9; }
    .banner header ~ .post-meta {
      margin-top: 0; }

.video {
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 2em; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

table {
  border-collapse: collapse;
  margin-bottom: 2em; }
  table th, table td {
    padding: 1em;
    vertical-align: top;
    border-bottom: 1px solid #444; }

/*# sourceMappingURL=freja.css.map */
