$typl8-headings: (
  h1: typl8-gamma,
  h2: typl8-delta,
  h3: typl8-epsilon,
  h4: typl8-zeta,
  h5: typl8-zeta,
  h6: typl8-zeta
);

$typl8-font-size: 95;


$freja-article-bgs: (
  1: #fff,
  2: #bdcbdd,
  3: #FFF101
)
